<template>
    <div>
    <div id="chart" ></div>
    </div>
</template>

<script>
    import {bb} from 'billboard.js'
    import 'billboard.js/dist/billboard.css';
    import {scaleLinear} from "d3-scale";
    window.scaleLinear = scaleLinear;

export default {
    props: ['data1', 'data2'],
    data() {
        return {

        }
    },
    name: 'chart',
    watch: {
        data1 (newQuestion, oldQuestion) {
            let self = this;
            this.chart.load({
                columns: [
                    self.data1
                ]
            })
        },
        data2 (newQuestion, oldQuestion) {
            let self = this;
            this.chart.load({
                columns: [
                    self.data2
                ]
            })
        }
    },

    mounted(){
        const self = this;
        this.chart = bb.generate({
            bindto: '#chart',
            data: {
                columns: [
                    ['data1', 1, 6, 7, 4, 9],
                    ['data2', 130, 100, 140, 35, 110, 2]
                ],
                unload: ["data1", 'data2'],
                types: {
                    data1: 'line',
                    data2: 'area-spline',
                },
                onclick(result) {
                    self.$emit('set-point-data', result);
                },


            },

        });
    }

}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
