<template>
  <div id="app">
      <chart @set-point-data="handlerChart" :data1="loadedData1" :data2="loadedData2"/>
      <div class="chart-wrapper">
          <label for="1"></label>
          <input id="1" :value="pointData" />
          <button @click="setData(data1)">Data set 1</button>
          <button @click="setData(data2)" >Data set 2</button>
          <button @click="setData(data3)" >Data set 3</button>
      </div>
  </div>
</template>

<script>
import Chart from './components/Chart.vue'

export default {
    data(){
        return {
            loadedData1: [],
            loadedData2: [],
            pointData: '',
            data1: [
                ['data1', 10, 6, 70, 4, 90],
                ['data2', 110, 140, 140, 15, 10, 24]
            ],
            data2: [
                ['data1', 130, 100, 140, 35, 110, 2],
                ['data2', 1, 6, 7, 4, 9]
            ],
            data3: [
                ['data1', 30, 10, 14, 5, 10, 20],
                ['data2', 10, 60, 70, 40, 90]
            ]
        }
    },
    methods: {
        handlerChart(result) {
            this.pointData = [result.id, result.value];
        },
        setData(data) {
            this.loadedData1 = data[0];
            this.loadedData2 = data[1];
        }
    },


  name: 'app',
  components: {
      // custom
    Chart
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
